absl-py==0.4.1
alembic==0.9.5
aniso8601==1.3.0
appnope==0.1.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
bleach==2.1.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.1.2
djangorestframework==3.6.4
docutils==0.14
dominate==2.3.4
entrypoints==0.2.3
Faker==0.9.1
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-JWT==0.3.2
Flask-Login==0.4.1
flask-marshmallow==0.9.0
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
gast==0.2.0
grpcio==1.14.2
h5py==2.8.0
html5lib==1.0b10
idna==2.7
imageai==2.0.2
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.16.3
marshmallow-sqlalchemy==0.15.0
matplotlib==2.2.3
mistune==0.7.4
mixer==6.1.3
more-itertools==4.3.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.1.0
numpy==1.14.5
opencv-python==3.4.3.18
pandocfilters==1.4.2
parso==0.1.0
pbr==3.0.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.2.0
pkginfo==1.4.2
pluggy==0.8.0
prompt-toolkit==1.0.15
protobuf==3.6.1
psycopg2==2.7.3.1
ptyprocess==0.5.2
py==1.7.0
py-bcrypt==0.4
Pygments==2.2.0
PyJWT==1.4.2
pyparsing==2.2.0
pytemp==0.0.1
pytest==4.0.1
python-dateutil==2.7.3
python-dotenv==0.7.1
python-editor==1.0.3
python-slugify==1.2.6
pytz==2018.5
PyYAML==3.13
pyzmq==16.0.2
qtconsole==4.3.1
readme-renderer==24.0
requests==2.19.1
requests-toolbelt==0.8.0
scipy==1.1.0
selenium==3.141.0
simplegeneric==0.8.1
six==1.11.0
slugify==0.0.1
SQLAlchemy==1.1.14
stevedore==1.23.0
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
text-unidecode==1.2
tornado==4.5.2
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.1
Unidecode==1.0.22
urllib3==1.23
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.0.3
WTForms==2.2.1
xvfbwrapper==0.2.9
